__pycache__

.idea

.ipynb_checkpoints

Backup_model/

*.pt
*.pth
*.sav
*.data
.env
.env.dev
.env.prod
**tmp**

*.env

.DS_Store
.prettierrc

build
*.egg-info

*_db.json

.vscode/

**/static/rs/
**/static/explanation/
**/tmp/
alibaba.json
googlecloud.json
api.conf.json
amazon.json

venv/
env/

mongo.dev.conf
mongo.prod.conf

emissions.csv

backend/xai_service/s2search

.yarn
*.bak
backend/db_service/azure_blob/azure_blob_performance_metrics.txt
backend/model_service/resnet50/model_performance_metrics.txt
backend/xai_sdk/dist/


*.bkp
*.log

lightning_logs

**_storage

effnetv2s_2
effnetv2s_3
effnetv2s_4

general_xai_2
general_xai_3
general_xai_4
general_xai_5
general_xai_6

*.demo.json

dist

weights